---
---

@import "minima";

/* poesia bilingue */
.poem-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 10px;
}

/* font più adatto alla poesia */
.poem-grid div {
  font-family: Georgia, serif;
}

.site-footer {
  display: none;
}
<p class="custom-footer">
Of Earth – Crina Saad · Italian translation by Massimo Cannas  
<br>
</p>
