---
---

@import "minima";

/* poesia bilingue */
.poem-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 10px;
}

/* font più adatto alla poesia */
.poem-grid div {
  font-family: Georgia, serif;
}
/* footer minimale */
.site-footer .footer-col-wrapper {
  display: block;
}

.site-footer .footer-col:not(:first-child) {
  display: none;
}
.site-footer {
  display: none;
}
